In [7]:
import pandas as pd 
import matplotlib as plt
import numpy as np

In [8]:
#import data

df = pd.read_csv('https://cocl.us/sanfran_crime_dataset')
df.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,120058272,WEAPON LAWS,POSS OF PROHIBITED WEAPON,Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212120
1,120058272,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212168
2,141059263,WARRANTS,WARRANT ARREST,Monday,04/25/2016 12:00:00 AM,14:59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)",14105926363010
3,160013662,NON-CRIMINAL,LOST PROPERTY,Tuesday,01/05/2016 12:00:00 AM,23:50,TENDERLOIN,NONE,JONES ST / OFARRELL ST,-122.412971,37.785788,"(37.7857883766888, -122.412970537591)",16001366271000
4,160002740,NON-CRIMINAL,LOST PROPERTY,Friday,01/01/2016 12:00:00 AM,00:30,MISSION,NONE,16TH ST / MISSION ST,-122.419672,37.765050,"(37.7650501214668, -122.419671780296)",16000274071000

In [9]:
#remove unwanted columns

dfnew = df.drop(['Category','IncidntNum','Descript','DayOfWeek','Date','Time','Resolution','Address','X','Y','Location','PdId'], axis=1)
dfnew.head()

   PdDistrict
0    SOUTHERN
1    SOUTHERN
2     BAYVIEW
3  TENDERLOIN
4     MISSION

In [10]:
dfnew2 = dfnew.rename(columns={"PdDistrict":"Neighborhood"})
dfnew2.head()

  Neighborhood
0     SOUTHERN
1     SOUTHERN
2      BAYVIEW
3   TENDERLOIN
4      MISSION

In [11]:
colum2 = dfnew2['Neighborhood'].value_counts(ascending=False)
colum2

SOUTHERN      28445
NORTHERN      20100
MISSION       19503
CENTRAL       17666
BAYVIEW       14303
INGLESIDE     11594
TARAVAL       11325
TENDERLOIN     9942
RICHMOND       8922
PARK           8699
Name: Neighborhood, dtype: int64

In [12]:
data = [['SOUTHERN', 28445], ['NORTHERN', 20100],['MISSION', 19503], ['CENTRAL',17666], ['BAYVIEW',14303],['INGLESIDE',11594],['TARAVAL',11325],['TENDERLOIN',9942],['RICHMOND',8922],['PARK',8699]]
Finaltable = pd.DataFrame(data, columns=['Neighborhood', 'Count'])
Finaltable

  Neighborhood  Count
0     SOUTHERN  28445
1     NORTHERN  20100
2      MISSION  19503
3      CENTRAL  17666
4      BAYVIEW  14303
5    INGLESIDE  11594
6      TARAVAL  11325
7   TENDERLOIN   9942
8     RICHMOND   8922
9         PARK   8699

## Impose the above data on map on san fran.
### The greater the count the more red the color of shaded neighborhood area

In [13]:
!conda install folium=0.5.0 --yes to install folium
import folium

print('Folium installed and imported!')

usage: conda [-h] [-V] command ...
conda: error: unrecognized arguments: to install folium

ModuleNotFoundError: No module named 'folium'

In [ ]:
# San Francisco latitude and longitude values
latitude = 37.77
longitude = -122.42

# create map and display it
sanfran_map = folium.Map(location=[latitude, longitude], zoom_start=12)

# display the map of San Francisco
sanfran_map